<html>
  <head>Ch2 - Test-drive and implement a GET /albums/:id route </head>
  <body>
    <h1><%= @album.title %></h1>
    <p>
      Release year: <%= @album.release_year %>
      Artist: <%= @artist.name %>
    </p>
    <! -- added the below hyperlink for Ch3 link test from /album/id page to go back to Albums page -->
    <a href="/albums">Go to the Albums page</a>
  </body>
</html>