<html>
  <head>Phase 3 - Ch3 - Test-drive and implement a GET /artists/:id route </head>
  <body>
    <h1><%= @artist.name %></h1>
    <p>
      Genre: <%= @artist.genre %>
    </p>
    <! -- added the below hyperlink for Ch3 link test from /artist/id page to go back to Artists page -->
    <a href="/artists">Go to the Artists page</a>
  </body>
</html>
