<form method="POST" action="/albums">

    <div>
    <lable>Album title</lable>
    <input type="text" name="title" />
    </div>

    <br>
    <div>
    <lable>Album release year</lable>
    <input type="text" name="release_year" />
    </div>

    <br>
    <div>
    <lable>Album artist ID</lable>
    <input type="text" name="artist_id" />
    </div>

    <div>
    <input type="submit" />
    </div>

    <br>
    <a href="/albums">Go to the Albums page</a>
</form>